doctype html
html
	head
		meta(charset='UTF-8')
		title="Hello"
		link(rel='stylesheet', type='text/css', href='stylelogin.css')
		style
			include ./stylelogin.css
	body
		div.container
			h3 Welcome #{name}
			p Please stay here for a while