@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-image: url(https://images.pexels.com/photos/872958/pexels-photo-872958.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: inherit;
	
}
.container {
	padding-top: 100px;
}